/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  font-family: "Inter", sans-serif;
}

:root {
  --font-large: 4rem; /* 40px */
  --font-medium: 2.4rem; /* 24px */
  --font-small: 1.6rem; /* 16px */

  --gray-primary: #212529;
  --blue-primary: #1864ab;
  --white: #fff;
}

ul {
  list-style: none;
}

/* Containers and Sections */

.master-container {
  /* Styles for the master container */
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

/* TOP BAR */

.top-bar-container {
  /* Styles for the top bar container */
  flex: 0 1 auto;
}

.top-bar-content {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
  font-size: var(--font-small);
}

.top-bar-content a {
  text-decoration: none;
  color: inherit;
}

.top-bar-content a:hover {
  text-decoration: underline;
}

.top-bar-left {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.top-bar-right {
  display: flex;
  gap: 2rem;
  align-items: center;
}

#sign-in-link {
  background-color: rgba(40, 60, 241, 0.781);
  color: var(--white);
  padding: 1rem 2rem;
  border-radius: 1em;
  text-decoration: none;
  font-weight: 500;
}

/* MAIN SECTION */
.main-section-container {
  /* Styles for the main section container */
  flex: 1 1 auto;
  margin-bottom: 3rem;
}

.main-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-img {
  width: 40rem;
  height: auto;
  margin: 3rem 0;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
  min-width: 60%;
  max-width: 90%;
  height: auto;
  padding: 1rem 2rem;
  border: 1px solid var(--blue-primary);
  outline: none;
  border-radius: 10rem;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.search-bar input {
  flex: 1;
  border: none;
  outline: none;
  font-size: var(--font-medium);
}

.search-bar-icons {
  flex: 0;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.search-bar-icons img {
  width: 2.6rem;
  height: 2.6rem;
}

.home-buttons {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.home-buttons-style {
  color: black;
  background-color: rgb(241, 239, 239);
  font-size: var(--font-small);
  padding: 1rem 2rem;
  border: none;
  border-radius: none;
  cursor: pointer;
  /* hover shadow effect */
  margin-bottom: 2rem;
}

.home-buttons-style:hover {
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.2);
}

.languages-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  font-size: var(--font-small);
}

.languages-text a {
  text-decoration: none;
  color: inherit;
}

.languages-text a:hover {
  text-decoration: underline;
}

.languages-list {
  display: flex;
  gap: 1rem;
}
.languages-list a {
  color: rgb(36, 36, 139);
}

/* FOOTER SECTION */

.footer-container {
  /* Style for the entire footer section */
  flex: 0 1 auto;
}

.footer-content {
  display: flex;
  flex-direction: column;
}

.footer-location {
  background-color: rgb(241, 239, 239);
  font-size: var(--font-small);
  padding: 2rem;
  border-bottom: 0.1rem solid var(--gray-primary);
}

.footer-links {
  display: flex;
  justify-content: space-between;
  background-color: rgb(241, 239, 239);
  padding: 2rem;
  font-size: var(--font-small);
  flex-wrap: wrap;
}

.footer-links a {
  text-decoration: none;
  color: inherit;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-links-left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}

.footer-links-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

